
body {
    background-color: #00b7ff;
}

.block {
    margin: 0 auto;
    max-width: 900px;
    padding: 50px 30px;
}

.input-res {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font: 15px/1, sans-serif;
    color: #8b8181;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
    width: 100%;
    max-width: 500px;
    background-color: #ddd;
    border: none;
    padding: 10px 11px 11px 11px;
    border-radius: 3px;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}
